.box_one{
    height: 50px;
    width: 1330px;
    background-color: red;
    float: left;
    /*position: relative;*/
    /*position: absolute;*/
    
    
}
.box_two{
    height: 200px;
    width: 200px;
    background-color: green;
    float: left;
    /*position: relative;*/
    /*position: absolute;*/
    /*position: fixed;*/
    
    
}
